<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" charset="UTF-8">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.3/assets/css/docs.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-GLhlTQ8iRABdZLl6O3oVMWSktQOp6b7In1Zl3/Jr59b6EGGoI1aFkw7cmDA6j6gD" crossorigin="anonymous">
    <title>food-app</title>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com"> 
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin> 
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/cb5761a778.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://kit.fontawesome.com/cb5761a778.css" crossorigin="anonymous">
</head>
<body>
    <section style="background-color:#00AAF5;">
        <nav class="navbar navbar-expand-lg " id="navbar" style="background-color: #00AAF5;">
            <div class="container-fluid">
              <a class="navbar-brand"  href="#" style="color: #fff"><strong><i style="font-size:xx-large">Cravings</i></strong></a>
              <button class="navbar-toggler" style="background-color:white" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
              </button>
              <div class="collapse navbar-collapse justify-content-end" id="navbarNavDropdown">
                <ul class="navbar-nav mr-auto">
                  <li class="nav-link">
                    <a class="nav-link" href="/profile"><i class="fa-solid fa-user fa-xl profile-img" href="/profile" style="color: #fff;background-color:#00AAF5;border-color:#00AAF5;"></i></a>
                  </li>
                  <li class="nav-link">
                    <a type="button" style="background-color:#00AAF5;border:none;font-size:large;text-decoration:none;color:white" class="btn btn-secondary" href="../../../views/home-page.html"><strong>Home</strong></a>
                  </li>             
                  <li class="nav-link">
                    <a type="button" style="background-color:#00AAF5;border:none;font-size:large;text-decoration:none;color:white" class="btn btn-secondary" href="../templates/menu/menu.html"><strong>Menu</strong></a>
                  </li>             
                  <li class="nav-link">
                    <a type="button" style="background-color:#00AAF5;border:none;font-size:large" class="btn btn-secondary" href="login.html"><strong>Logout</strong></a>
                  </li>             
                </ul>
              </div>
            </div>
          </nav>

        <h1 class="heading1" style="color:white;padding-bottom:4px; text-shadow: 4px 5px rgba(0, 0, 0, 0.19)">Your Profile</h1>

    </section>
<div style="display:flex; flex-direction: row; justify-content:space-around">
    <div class="heading3 profile-section">
        <h5 class="">Name</h5>
        <h5 class="">user phn no. </h5>
        <h5 class="">user mail </h5>
        <h5 class="">user roll no. </h5>
        <h5 class="">and other user details</h5>
    </div>
</div>
<div style="display:flex; flex-direction: row; justify-content:space-around">
<button class="menu-button" style="width:250px; margin-top:18px">
    <a style="color:white; text-decoration:none;" href="#">Sign Out</a>
</button>
</div>

